name: Test Pixel as a Service
on:
  workflow_dispatch:
jobs:
  test:
    runs-on: ubuntu-22.04
    steps:
      - name: checkout
        uses: actions/checkout@v6.0.1
      - name: install
        run: sudo apt-get -y install python3-pil
      - name: run
        env:
          PORT: ${{ secrets.PORT }}
          SERVER: ${{ secrets.SERVER }}
        run: |
          python3 pixel.py
