---
name: Test Pixel as a Service

on:
  workflow_dispatch:
    inputs:
      offset-x:
        default: 0
        reqired: false
        type: number
      offset-y:
        default: 0
        type: number


permissions:
  contents: read

jobs:
  test:
    runs-on: ubuntu-24.04
    timeout-minutes: 10
    steps:
      - name: checkout
        uses: actions/checkout@v6.0.1
      - name: install
        run: sudo apt-get -y install python3-pil
      - name: run
        env:
          IMAGE: ${{ secrets.IMAGE }}
          OFFSET_X: ${{ inputs.offset-x }}
          OFFSET_Y: ${{ inputs.offset-y }}
          PORT: ${{ secrets.PORT }}
          SERVER: ${{ secrets.SERVER }}
        run: |
          wget --quiet "$IMAGE" --output-document image.png
          python3 pixel.py
